.contact-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.contact-border {
  border-width: 1px;
  border-style: solid;
  border-color: #838383;
  padding: 20px 10px 20px 10px;
}

.contact-card {
  width: 350px;
  display: flex;
  justify-content: space-around;
  a {
    font-size: 18px;
    margin: 5px;
    color: black;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    color: #006989;
  }
}
