.navbar {
  max-width: 350px;
  margin: auto;

  .navbar-center {
    display: flex;
    justify-content: space-around;
  }

  .nav-butt {
    background-color: transparent;
    border: none;
    font-family: "EB Garamond", serif;
    font-size: 20px;
    margin: 10px;
  }
  .nav-butt:hover {
    text-decoration: underline;
    color: #006989;
  }
}
