.top-of-page-pls {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  bottom: 20px;
  width: 100%;
  height: 45px;

  button {
    background-color: transparent;
    border: none;
    svg {
      height: 40px;
      width: 40px;
      margin-right: 20px;
      fill: #566a71;
    }
    svg:hover {
      fill: #3a474c;
    }
  }
}
