footer {
  margin: auto;
}

.footer-p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.footer-a {
  font-size: 18px;
  margin: 5px;
  color: black;
  text-decoration: none;
}
.footer-a:hover {
  text-decoration: underline;
  color: #006989;
}
