@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

:root {
  font-family: "EB Garamond", serif;
}

body {
  margin: 0;
  background-color: #eaebed;
}

h1 {
  font-size: 36px;
  font-weight: lighter;
}

h2 {
  font-size: 24px;
  font-weight: lighter;
}

h3 {
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 2px;
}

p {
  font-size: 16px;
  margin: 0px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Om jag vill ändra bakgrunden: */
/* ::-webkit-scrollbar-track {
  background: #d6d7da;
} */

/* Ändra färg så det följer färgschemat */
::-webkit-scrollbar-thumb {
  background: #a2a2a2;
}

/* Ändra färg så det följer färgschemat */
::-webkit-scrollbar-thumb:hover {
  background: #838383;
}
